{% extends '_layout/_base.twig' %}

{% block main %}
        <div class="container">

            <div class="title-block">
                <h1>{{ homepage.websitetitle }}</h1>
            </div>

            <div class="text-block border-bottom">
                <p>{{ homepage.websiteinfo }}</p>
            </div>
        </div>

            {% set myEntryQuery = craft.entries() %}
            {% set entries = myEntryQuery.all() %}
            {% for entry in entries %}
          
            <div class="img-block {{ entry.backgroundcolor }}" id="{{ entry.title }}">
           
                <h2>{{ entry.title }}</h2>
                 <p>{{ entry.subtitle }}</p>
        
                {% endfor %}
             
                    <div class="images">
                        <figure>
                            <img src="assets/images/Surf.jpeg" alt="Surf Algarve">
                            <figcaption class="overlay">
                                <div class="text">
                                    <h3>Title of illustration</h3>
                                    <p>Surfing Algarve in january with super good waves.</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="assets/images/Surf.jpeg" alt="Surf Algarve">
                            <figcaption class="overlay">
                                <div class="text">
                                    <h3>Title of illustration</h3>
                                    <p>Surfing Algarve</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="assets/images/Surf.jpeg" alt="Surf Algarve">
                            <figcaption class="overlay">
                                <div class="text">
                                    <h3>Title of illustration</h3>
                                    <p>Surfing Algarve</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="assets/images/Surf.jpeg" alt="Surf Algarve">
                            <figcaption class="overlay">
                                <div class="text">
                                    <h3>Title of illustration</h3>
                                    <p>Surfing Algarve</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
            </div>

            <div class="img-block dark-background" id="item2">
                <h2>Title</h2>
                <p>Some text about this block</p>
                    <div class="images">
                        <figure>
                            <img src="assets/images/Mountain.jpeg" alt="Hiking">
                            <figcaption class="overlay">
                                <div class="text">
                                    <h3>Hiking Pyrneeen</h3>
                                    <p>more text</p>
                                </div>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="assets/images/Mountain.jpeg" alt="Hiking">
                            <figcaption class="overlay">
                                <div class="text">
                                    <div class="text">
                                        <h3>Hiking Pyrneeen</h3>
                                        <p>more text</p>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="assets/images/Mountain.jpeg" alt="Hiking">
                            <figcaption class="overlay">
                                <div class="text">
                                    <h3>Hiking Pyrneeen</h3>
                                    <p>more text</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
            </div>
{% endblock %}