{% extends '_layout/_base.twig' %}

{% block main %}
        <div class="container">

            <div class="title-block">
                <h1>{{ homepage.websitetitle }}</h1>
            </div>

            <div class="text-block border-bottom">
                <p>{{ homepage.websiteinfo }}</p>
            </div>
        </div>

            {% set contentBlocks = craft.entries() %}
            {% set entries = contentBlocks.all() %}
            {% for entry in entries %}
          
            <div class="img-block {{ entry.backgroundcolor }}" id="{{ entry.title }}">
           
                <h2>{{ entry.title }}</h2>
                 <p>{{ entry.subtitle }}</p>
             
                    <div class="images">
                      {% set blocks = entry.artblock.all() %}
                        {% if blocks is not empty %}
                            
                            {% for block in blocks %}
                                <figure>
                               {% for image in block.image %}
                                    <img src="{{ image.url }}" alt="{{ image.alt }}" />
                                {% endfor %}
                                {% if block.imgTitle is not empty %}
                                    <figcaption class="overlay">
                                        <div class="text">
                                            <h3>{{ block.imgTitle }}</h3>
                                            <p>{{ block.subtitle }}</p>
                                        </div>
                                    </figcaption>
                                {% endif %}
                                </figure>
                                 {% endfor %}
                           {% endif %} 
                    </div>
            </div>
            {% endfor %}
{% endblock %}